html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ffe6f0; 
    font-family: 'Arial', sans-serif;
}

.container {
    flex: 1;
}

.card-name {
    background-color: #ff66b2; 
    padding: 15px; 
    border-radius: 15px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; 
    max-width: 500px; 
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.btn-primary {
    background-color: #ff66b2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ffe6f0; 
    color: white;
}

